//первый блок
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background: #f1f1f1 url(../css/images/Rectangle.png) no-repeat center;
    background-size: cover;
    height: 490px;
    font-family: 'Oswald';
  
    .hero-block {
      text-align: center;
      color: white;
      padding: 100px 0;
  
      h1 {
        font-size: 60px;
      }
  
      h2 {
        font-size: 18px;
      }
    }
  }
