.our-project {
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 100px;
  font-family: 'Oswald';
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  
  .text-center {
    margin-bottom: 40px;
    h3 {
      font-size: 30px;
    }
  }
  
  .overlay {
    img {
      width: 230px;
      height: 250px;
      margin-bottom: 20px;
    }
  
    .divider {
      left: 0;
      width: 20%;
      height: 3px;
      background-color: red;
    }
  
    .text-center {
      h3 {
        font-size: 35px;
      }
    }
  
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 767px) {
  .our-project .overlay img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .our-project .overlay img {
      width: 80%;
      height: auto;
      margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .our-project .overlay img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
  }
}