.red {
    background-color: #F7654A;
    
    .red-block {
        align-items: center;
        flex-wrap: nowrap;
        width: 72%;
        margin: 0 auto;
        margin-top: 70px;
        height: 120px;
        font-family: 'Oswald';
  }
  .red-block-content {
    color: white;
  
    h4 {
        font-size: 24px;
        margin: 0;
  }
  h5 {
    font-size: 18px;
    margin: 0;
  }
}
  .red-block-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    background-color: #fff;
    p{
        margin-top: revert;
    }
  }
  
  .red-block-button .red-block-image {
    margin-right: 15px;
  }
}
  
  