 .what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 120px;
    font-family: 'Oswald';
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    h3{
        margin-bottom: 40px; 
        font-weight: bold;
    }
    .dom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        width: 250px;
        height: 250px;
        background-color: #F7F7F7;
        img {
        width: 60px;
        height: 40px;
        margin-bottom: 20px;
        }
        p {
        font-size: 12px;
        font-weight: bold;
        }
    }  
}