.years-block {
    position: relative;
    z-index: 2;
    background-color: #F7F7F7;
    padding: 50px;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: -100px;
    font-family: 'Oswald';
    
    h1 {
      color: #F7654A;
      font-weight: bold;
    }
    h4 {
      font-weight: bold;
    } 
   .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  
     .col-lg-3 {
      padding-left: 15px;
      padding-right: 15px;
    }
}
  
  