.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background: #f1f1f1 url(../css/images/Rectangle.png) no-repeat center;
  background-size: cover;
  height: 490px;
  font-family: "Oswald";
}
.hero .hero-block {
  text-align: center;
  color: white;
  padding: 100px 0;
}
.hero .hero-block h1 {
  font-size: 60px;
}
.hero .hero-block h2 {
  font-size: 18px;
}

.our-project {
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 100px;
  font-family: "Oswald";
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.our-project .text-center {
  margin-bottom: 40px;
}
.our-project .text-center h3 {
  font-size: 30px;
}
.our-project .overlay img {
  width: 230px;
  height: 250px;
  margin-bottom: 20px;
}
.our-project .overlay .divider {
  left: 0;
  width: 20%;
  height: 3px;
  background-color: red;
}
.our-project .overlay .text-center h3 {
  font-size: 35px;
}
.our-project .overlay p {
  font-size: 14px;
}

@media (max-width: 767px) {
  .our-project .overlay img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-project .overlay img {
    width: 80%;
    height: auto;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .our-project .overlay img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
.years-block {
  position: relative;
  z-index: 2;
  background-color: #F7F7F7;
  padding: 50px;
  width: 60%;
  height: auto;
  margin: 0 auto;
  margin-top: -100px;
  font-family: "Oswald";
}
.years-block h1 {
  color: #F7654A;
  font-weight: bold;
}
.years-block h4 {
  font-weight: bold;
}
.years-block .row {
  margin-left: -15px;
  margin-right: -15px;
}
.years-block .col-lg-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.red {
  background-color: #F7654A;
}
.red .red-block {
  align-items: center;
  flex-wrap: nowrap;
  width: 72%;
  margin: 0 auto;
  margin-top: 70px;
  height: 120px;
  font-family: "Oswald";
}
.red .red-block-content {
  color: white;
}
.red .red-block-content h4 {
  font-size: 24px;
  margin: 0;
}
.red .red-block-content h5 {
  font-size: 18px;
  margin: 0;
}
.red .red-block-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  background-color: #fff;
}
.red .red-block-button p {
  margin-top: revert;
}
.red .red-block-button .red-block-image {
  margin-right: 15px;
}

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 120px;
  font-family: "Oswald";
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.what-we-do h3 {
  margin-bottom: 40px;
  font-weight: bold;
}
.what-we-do .dom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 250px;
  height: 250px;
  background-color: #F7F7F7;
}
.what-we-do .dom img {
  width: 60px;
  height: 40px;
  margin-bottom: 20px;
}
.what-we-do .dom p {
  font-size: 12px;
  font-weight: bold;
}
